.jfx-combo-box{
    -fx-background-color: RGB(56,63,126);
    -fx-text-inner-color:  RGB(208,216,243);
    -fx-prompt-text-fill:  RGB(208,216,243);
    -fx-font-weight: bold;
    -fx-font-family: 'Comic Sans MS';
    -fx-font-size: 15.0;
}

.jfx-combo-box .cell {
    -fx-text-fill:  RGB(32,36,66);
    -fx-background-color: RGB(208,216,243);
    -fx-font-weight: bold;
}
.button-custom{
    -fx-background-color: RGB(56,63,126);
    -fx-background-radius: 15;
    -fx-text-fill: RGB(208,216,243);
    -fx-font-family: 'Comic Sans MS';
    -fx-font-size: 20.0;
}
.text-title-custom{
    -fx-font-family: 'Comic Sans MS';
    -fx-font-weight: bold;
    -fx-font-size: 45.0;
}
.text-criteria-custom{
    -fx-font-family: 'Comic Sans MS';
    -fx-font-size: 18.0;
}
.text-about-custom{
    -fx-font-family: 'Comic Sans MS';
    -fx-font-size: 20.0;
}
.anchor-custom{
    -fx-background-color: RGB(45,50,90);
    -fx-background-radius: 15;
}